{% extends "base.html" %}

{% block content %}
<div style="height: 500 em;">
    <img src="https://img.ltwebstatic.com/images3_pi/2021/08/23/1629715961b1e42cfc0aa0d2eb85af6f981dde4f48.jpg"
         alt="Свитер" width="300 em">
    <h3>Свитер солнечный</h3>
    <p>3000 р.</p>
</div>

<div style="height: 500 em;">
    <img src="https://a.lmcdn.ru/img600x866/M/P/MP002XW0KPTV_18059250_1_v1_2x.jpg"
         alt="Джинсы" width="300 em">
    <h3>Джинсы</h3>
    <p>5000 р.</p>
</div>
{% endblock %}